.App {
  text-align: center;
}

.App-body {
  /* background-color: #282c34; */
  background-image: radial-gradient(#ff8a00, #e52e71);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
