.App {
  text-align: center;
  background-image: radial-gradient(#eeaeca, #94bbe9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.App-body {
  /* background-color: #282c34; */
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: flex-start; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.info-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding: 5%;
}
